/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

.clear{
	clear: both;
}
.main_container{
	width: 750px;
	margin: 0 auto;
}
.main_bg{
	width: 750px;
	height: 750px;
	background: url(../images/main_bg.jpg) no-repeat 0 0;
}
.all_page_bg{
	width: 750px;
	height: 750px;
	background: url(../images/all_page_bg.jpg) no-repeat 0 0;
}
.div_btn_main{
	margin-left: 160px;
    position: relative;
    top: 325px;
    width: 425px;
}
.div_btn_main a{
	display: block;
	width: 183px;
	height: 41px;
	margin-bottom: 20px;
}
.div_btn_main a:hover{
	background-position: 0 -41px;
}
.btn_start{
	background: url(../images/btn_start.png) no-repeat 0 0;
	margin: 0 auto;
}
.btn_top{
	background: url(../images/btn_top.png) no-repeat 0 0;
	float: left;
}
.btn_my_result{
	background: url(../images/btn_my_result.png) no-repeat 0 0;
	float: right;
}
.btn_rules{
	background: url(../images/btn_rules.png) no-repeat 0 0;
	float: left;
}
.btn_about{
	background: url(../images/btn_about.png) no-repeat 0 0;
	float: right;
}
.all_page_div{
	width: 750px;
	height: 580px;
}
.footer_div{
    margin-left: 25px;
	height: 70px;
    width: 690px;
}
.info_user{
	width: 244px;
	height: 100px;
	background: url(../images/user_info_bg.png) no-repeat 0 0;
	margin-left: 10px;
}